
body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  }

p {
  color: #8f8f8f;
  font-weight: 400;
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* Title section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.title-image-div {
  position: relative;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff,
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}


/* Features scetion */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-weight: bolder;
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15% 7%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-header {
  font-weight: bolder;
}

.price-text {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Footer section */
#cta {
  padding: 7% 15%;
}

.footer-message {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  background-color: #fff;
}

.socials {
  margin: 20px 10px;
  color: black;
}
